NEXT_PUBLIC_PRODUCTION_URL='https://29-ai-companion.vercel.app'
NEXT_PUBLIC_DEVELOPMENT_URL='http://localhost:3029'

# same as for 14
NEXT_PUBLIC_SUPABASE_URL=''
NEXT_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=""

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="e4qm3hxa"

PINECONE_INDEX="companion"
PINECONE_HOST="https://your-index-xxxx.svc.your-project-id.pinecone.io"
PINECONE_API_KEY=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
NEXT_PUBLIC_CLOUDFLARE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""

OPENAI_KEY=""

REPLICATE_API_TOKEN=""

STRIPE_WEBHOOK_SECRET=''
STRIPE_SECRET_KEY=''

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=''
STRIPE_SECRET_KEY=''

